DECLARE @TMP_CMD_RESULT TABLE (LINE VARCHAR(512))    
DECLARE @FILENAME       VARCHAR(20), 
        @COMMAND        VARCHAR(4000), 
        @DIROUT         VARCHAR(100), 
        @SERVER         VARCHAR(30),
        @MENSAJE_SQL    NVARCHAR(500),  
        @MENSAJE        VARCHAR(200) = '',
        @CANT_REG       INT 


BEGIN TRY
	SET NOCOUNT ON    
    
    --SETEO DE TODOS LOS PARAMETROS
    SET @SERVER = @@SERVERNAME --'B1842ZACS0082'
	SET @DIROUT ='C:\windows\sysem32\'
	SET @FILENAME = 'PRUEBA.SQL'

	--GENERACION EL ARCHIVO
	SET @COMMAND = 'BCP "SELECT TOP 1 * FROM ECOM.dbo.PARAMETRO ORDER BY 1" QUERYOUT "'
	SET @COMMAND = @COMMAND + @DIROUT + @FILENAME + '" -T  -S ' + @SERVER + ' -c -t ' 
	
    INSERT INTO @TMP_CMD_RESULT (LINE) EXEC MASTER..XP_CMDSHELL @COMMAND  
    DELETE @TMP_CMD_RESULT WHERE LINE IS NULL 
    
    --TRATAMIENTO EN CASO DE ERROR 
    IF EXISTS (SELECT LINE FROM @TMP_CMD_RESULT WHERE Line like '%error%')
      BEGIN
        SET @MENSAJE = 'Error inesperado al generar archivo "' + @FILENAME + '" (' + (SELECT TOP 1 LINE FROM @TMP_CMD_RESULT WHERE Line like '%error%') +  ') '
        RAISERROR ('', 16, 1)
      END 
    ELSE
      BEGIN
        SET @CANT_REG = (SELECT CONVERT(INT,LEFT(Line,LEN(Line)-LEN('rows copied.'))) FROM @TMP_CMD_RESULT WHERE Line like '%rows copied.')
        SET @MENSAJE = 'Se ha generado correctamente el archivo ' + @FILENAME
        SELECT @MENSAJE + ' ( ' + LTRIM(@CANT_REG) + ' registro/s)' AS MENSAJE
		PRINT @MENSAJE  + ' ( ' +  LTRIM(@CANT_REG) + ' registro/s)'  
	  END    


END TRY
 
/****************************************************************************************************************************************************/
BEGIN CATCH 
  SET @MENSAJE_SQL = (SELECT CASE WHEN ERROR_MESSAGE() IS NULL OR ERROR_MESSAGE() = '' THEN '[SQL Message] ' ELSE ERROR_MESSAGE() END AS MENSAJE_SQL)
  IF @MENSAJE = ''
    SET @MENSAJE = (SELECT CASE WHEN @MENSAJE  = '' THEN 'No se ha generado el archivo' ELSE @MENSAJE END AS MENSAJE)

  SELECT @MENSAJE + ' - ' + @MENSAJE_SQL AS MENSAJE
  PRINT @MENSAJE + ' - ' + @MENSAJE_SQL
  PRINT 'AVISAR A ESTELA FERNANDEZ / ALEJANDRO MARTINEZ PARA VER LOS PASOS A SEGUIR'
  
END CATCH  
/***************************************************************************************************************************************************/  

/*FIN*/

