USE [ECOM]
GO
/****** Object:  StoredProcedure [dbo].[P_S_ROLES]    Script Date: 09/19/2016 10:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[P_S_ROLES]
AS

SET NOCOUNT ON
DECLARE ALTA_DBPERMISOSROLES CURSOR
FOR
	SELECT [NAME] FROM SYSUSERS WHERE ISSQLROLE = 1 
	and [NAME] <> 'public' 
	and [NAME] <> 'db_owner'
	and [NAME] <> 'db_accessadmin'
	and [NAME] <> 'db_securityadmin'
	and [NAME] <> 'db_ddladmin'
	and [NAME] <> 'db_backupoperator'
	and [NAME] <> 'db_datareader'
	and [NAME] <> 'db_datawriter'
	and [NAME] <> 'db_denydatareader'
	and [NAME] <> 'db_denydatawriter'

OPEN ALTA_DBPERMISOSROLES
	DECLARE @ROL VARCHAR(140)
	FETCH NEXT FROM ALTA_DBPERMISOSROLES INTO @ROL
	WHILE @@FETCH_STATUS = 0  
	BEGIN 
		EXEC P_ROLES_PERMISOS @ROL
		FETCH NEXT FROM ALTA_DBPERMISOSROLES INTO @ROL
	END

CLOSE ALTA_DBPERMISOSROLES
DEALLOCATE ALTA_DBPERMISOSROLES

