USE [CENCON_HISTO]
GO
/****** Object:  StoredProcedure [dbo].[ZZ_PRUEBA_HISTOR22]    Script Date: 07/28/2014 17:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ZZ_PRUEBA_HISTOR22] 

AS        

DECLARE	@pConsulta      nVARCHAR (1000),
        @RC             INT,
        @MES_DEVUELTO   nVARCHAR(100),
        @ParmDefinition nVARCHAR(400)

SET NOCOUNT ON;

BEGIN TRY
  BEGIN TRAN
	SET @pConsulta = N'EXEC '+ dbo.Fx_FC_ParametroBD('CENCON_LINK') + '.' + dbo.Fx_FC_ParametroBD('BD') + '.dbo.ZZ_PRUEBA_OPERATIVO22 @MENSAJE OUTPUT'
    SET @ParmDefinition = N'@MENSAJE NVARCHAR(100) OUTPUT'
    SET @MES_DEVUELTO = ''
    
   EXECUTE sp_executesql @pConsulta, @ParmDefinition, @MENSAJE = @MES_DEVUELTO OUTPUT

    --Si el resultado es distinro al mje de la variable output
    IF @MES_DEVUELTO <> 'TODO OK SALIDA'
	   RAISERROR ('', 16, 1)    
	ELSE
	   SELECT @MES_DEVUELTO    
   
  COMMIT	
END TRY  


/*****************************************************************************************************/
BEGIN CATCH
  IF @@TRANCOUNT > 0 ROLLBACK TRAN
  EXEC [dbo].[FC_BD_MANEJO_ERROR] @MES_DEVUELTO
  
END CATCH
/*****************************************************************************************************/
