DECLARE @TMP_CMD_RESULT    TABLE (LINE VARCHAR(512))    
DECLARE @FILENAME              VARCHAR(20), 
        @FILENAME_FIN          VARCHAR(150),
        @FILENAME_TAR          VARCHAR(150),
        @FILENAME_GZ           VARCHAR(150),
        @COMMAND               VARCHAR(4000), 
        @DIROUT                VARCHAR(100), 
        @DIRECTORIO_COMPRESION VARCHAR(100), 
        @SERVER                VARCHAR(30),
        @RESULT                INT,
        @CUERPO                VARCHAR(118),
        @FILE_EXISTS           INT, 
        @TIMEOUT               INT,
        @FECHA                 VARCHAR(14),
        @BASE                  VARCHAR (50),
        @ASUNTO                VARCHAR(256),
        @FILENAME_PATH         VARCHAR(150),
        @MENSAJE               VARCHAR(500),
        @EXISTE_ERROR          INT ,
        @CANT_REG              INT


BEGIN TRY
	SET NOCOUNT ON    
    
    --OBTENGO TODOS LOS PARAMETROS PARA OBTENER: RUTA DEL ARCHIVO 
    SET @SERVER = 'B1842ZACW0751\MSSQLSERVER2008'
	SET @DIROUT ='C:\WINDOWS\system32\'
	SET @DIRECTORIO_COMPRESION = 'C:\WINDOWS\system32\'--(SELECT PAR_VALOR FROM dbo.PARAMETRO WHERE PAR_CODIGO = 'SISENT_TyT_DIRCOMP')
	SET @FECHA = '20150101'
	SET @FILENAME = 'PRUEBA.TXT'
	SET @FILENAME_FIN = 'PRUEBA' + @FECHA + '.end'    
	SET @FILENAME_TAR = 'PRUEBA' + @FECHA + '.tar'    
	SET @FILENAME_GZ =  'PRUEBA' + @FECHA + '.tar.gz'

	--GENERAMOS EL ARCHIVO
	SELECT @BASE = RTRIM(LTRIM(PAR_VALOR)) FROM dbo.PARAMETRO WHERE PAR_CODIGO = 'BD'
	SET @COMMAND = 'BCP "SELECT TOP 1 * FROM SISENT.dbo.PARAMETRO ORDER BY 1" QUERYOUT "'
	SET @COMMAND = @COMMAND + @DIROUT + @FILENAME + '" -T  -S ' + @SERVER + ' -c -t ' 


	EXECUTE @RESULT = MASTER..XP_CMDSHELL @COMMAND


  	--LO COMPRIMIMOS
	IF @RESULT = 0    
	  BEGIN    
		 --SI SE PUDO GENERAR EL ARCHIVO TXT
		 SET @FILE_EXISTS = 0
		 SET @TIMEOUT = 5
         SET @FILENAME_PATH = @DIROUT + @FILENAME

         --ESPERA 25 SEGUNDOS (5 VUELTAS DE 5 SEGUNDOS) HASTA QUE TERMINE DE GENERAR EL TXT O HASTA QUE EXISTA EL ARCHIVO) 
         WHILE NOT (@FILE_EXISTS = 1 OR @TIMEOUT = 0)
			BEGIN  
				WAITFOR DELAY '00:00:05'
				SET @TIMEOUT = @TIMEOUT - 1
				EXEC MASTER.dbo.XP_FILEEXIST @FILENAME_PATH, @FILE_EXISTS OUT 
			END

		 --GENERAMOS EL ARCHIVO TAR.GZ-------------------------------------------------------------------------------------------
		 SET @RESULT = 0
		 SET @COMMAND = @DIRECTORIO_COMPRESION + 'tar.exe -cv --remove-files --directory='+ LEFT(@DIROUT, LEN(@DIROUT)-1) + ' ' + @FILENAME
		 SET @COMMAND = @COMMAND + ' |' + @DIRECTORIO_COMPRESION + 'gzip -f > ' +  @DIROUT + @FILENAME_GZ	

		 INSERT INTO @TMP_CMD_RESULT(LINE)
		 EXECUTE @RESULT = MASTER.dbo.XP_CMDSHELL @COMMAND  
   
         SET @EXISTE_ERROR =  (SELECT TOP 1 1 FROM @TMP_CMD_RESULT WHERE Line like '%error%')

         IF @EXISTE_ERROR = 1 
            BEGIN
             SET @MENSAJE = 'Error inesperado al generar archivo "' + @FILENAME_TAR + '" (' + (SELECT TOP 1 LINE FROM @TMP_CMD_RESULT WHERE Line like '%error%') +  ') '
             RAISERROR ('', 16, 1)
            END 
         ELSE
            SET @CANT_REG = (SELECT CONVERT(INT,LEFT(Line,LEN(Line)-LEN('rows copied.')))
                               FROM @TMP_CMD_RESULT
                              WHERE Line like '%rows copied.')
	  END
	ELSE
	  BEGIN
		 --SI NO SE PUDO GENERAR EL ARCHIVO TXT
		 SET @MENSAJE = 'No se ha podido generar el archivo TXT'
		 RAISERROR ('', 16, 1)
	  END    


END TRY
 
/*********************************************************************************************************************************/
BEGIN CATCH 
  SET @MENSAJE = 'No se ha generado el archivo'
  SELECT @MENSAJE
  
END CATCH  
/**********************************************************************************************************************************/  

/*FIN*/

